<div style="position: fixed; left: 15px; bottom: 0; width: 100%">
  
    <footer class="blockquote-footer">
      <cite title="Source Title" style="color:aliceblue"> Shoumodip Das</cite>
    </footer>
  
</div>
